Repository Belikhun/ctms-plus, pull requests merged in 2022-01, with the labels that each got.

#56 ✏ implement getScanDates()
  static/js/screens/results.js
Labels: enhancement, screen:results, priority:medium

#57 🧂 Add button to renew session when expired
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  static/js/core.js
  static/js/screens/home.js
  static/js/screens/results.js
  static/js/screens/schedule.js
  static/js/screens/subscribe.js
Labels: enhancement, priority:medium

#58 🏗 Update `getScanDates()`
  .vscode/settings.json
  static/js/screens/results.js
Labels: enhancement, screen:results, priority:medium

#59 🧭 getscandate update semester was be missed bacause conflix error
  static/js/screens/results.js
Labels: bug, screen:results

#60 🍱 Redesign results screen
  .vscode/settings.json
  assets/css/default.css
  assets/css/progressBar.css
  assets/css/table.css
  assets/js/belibrary.js
  assets/js/scrollable.js
  assets/js/smenu.js
  index.html
  static/css/core.css
  static/css/dark.css
  static/css/screens/home.css
  static/css/screens/results.css
  static/css/screens/schedule.css
  static/css/screens/subscribe.css
  static/css/screens/tests.css
  static/js/api.js
  static/js/core.js
  static/js/screens/home.js
  static/js/screens/results.js
  static/js/screens/schedule.js
Labels: enhancement, screen:results

#61 🍔 Round subject's point before calculating average point
  .vscode/settings.json
  static/js/api.js
Labels: enhancement, api:results

#62 ✏ Fix GPA point not rounding correctly for each subject
  static/js/screens/results.js
Labels: bug, screen:results
